@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-scroll;
}

body {
  @apply font-sans;
  @apply dark:bg-zinc-900 bg-white dark:text-gray-200 text-zinc-900;
  @apply transition-colors;
  min-height: 100vh;
  line-height: 1.6;
  font-size: 15px;
}
