@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-scroll;
}

body {
  @apply bg-zinc-900;
  @apply font-sans;
  @apply text-gray-200;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
}
